@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Postion Styles  */
html:not([data-scroll='0']) body {
    backdrop-filter: brightness(45%) blur(3px);
}

/* Marquee */
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}
.marquee span.one {
    display: inline-block;
    animation: marquee-l 10s linear infinite;
}
.marquee span.two {
    transform: translateY(-100%);
    display: inline-block;
    animation: marquee-r 10s linear infinite;
}
@keyframes marquee-l {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
}
@keyframes marquee-r {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
}
@keyframes member {
    0% {
        transform: translate3d(0, 0, 0);
        transform: rotateZ('0')
    }
    100% {
        transform: rotateZ('360')
    }
}

/* ----Animated Backgrounds---- */
/* Sign In/Up */
.canvas-login {
    width: 100%;
    height: 100%;
    --gradient-color-1: #3f0863;
    --gradient-color-2: #000000;
    --gradient-color-3: #000000;
    --gradient-color-4: #240638;
    z-index: -1;
}
.canvas-main {
    width: 100%;
    height: 100%;
    --gradient-color-1: #3f0863;
    --gradient-color-2: #7d58b8;
    --gradient-color-3: #553981;
    --gradient-color-4: #240638;
    z-index: -10;
    
    --mask: linear-gradient(to bottom, 
    rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 30%, 
    rgba(0,0,0, 0) 100%, rgba(0,0,0, 0) 0
    ) 100% 0% / 20% 50% repeat-x;
    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);
}
