@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Postion Styles */
html:not([data-scroll='0']) body {
    backdrop-filter: brightness(60%);
}
/* @layer components {
    html:not([data-scroll='0']) #navbar {
        @apply border-b-4 border-b-fuchsia-600 sticky top-0;
    }
} */

/* Scroll Animation Classes */
.scroll-hidden {
    opacity: 0;
    transition: all 1.2s;
}
.scroll-blur {
    filter: blur(50px);
    transition: all 1.2s;
}
.scroll-uhidden {
    opacity: 0;
    transition: all 1.2s;
    transform: translateY(85%);
}
.scroll-dhidden {
    opacity: 0;
    transition: all 1.2s;
    transform: translateY(-85%);
}
.scroll-lhidden {
    opacity: 0;
    transition: all 1.2s;
    transform: translateX(85%);
}
.scroll-rhidden {
    opacity: 0;
    transition: all 1.2s;
    transform: translateX(-85%);
}

.scroll-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}