{% extends 'template.html' %}
{% block body %}
  <body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}
{% block header_title %}
{% endblock %}
{% block content %}
    <main class="w-full">
      <div class="min-h-screen flex flex-col justify-center items-center">
        <div class="mt-24 mb-16 flex flex-row flex-wrap justify-center text-center">
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-gray-800 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/landon.webp);" alt="Landon Warren, Electric Guitarist"></div>
            <h1 class="text-xl font-bold">Landon Warren</h1>
            <p class="pb-6">Electric Guitarist</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-gray-800 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/spencer.webp);" alt="Spencer Holdeman, Drummer"></div>
            <h1 class="text-xl font-bold">Spencer Holdeman</h1>
            <p class="pb-6">Drummer</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-gray-800 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/connor.webp);" alt="Connor Crossley, Bassist"></div>
            <h1 class="text-xl font-bold">Connor Crossley</h1>
            <p class="pb-6">Bassist</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-gray-800 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/david.webp);" alt="David Casswell, Vocalist"></div>
            <h1 class="text-xl font-bold">David Casswell</h1>
            <p class="pb-6">Vocalist</p>
          </div>
        </div>
      </div>
      <div class="h-screen w-full flex justify-center items-center">
        <div class="flex flex-row flex-wrap justify-center items-center">
          <img src="../static/img/member/group2.JPG" data-aos="fade-right" data-aos-once="true" alt="Group photo of the band" class="w-[80%] md:w-[600px] float-left rounded-2xl">
          <div data-aos="fade-left" data-aos-once="true" class="w-[80%] md:w-auto flex flex-col justify-center px-0 md:px-10 py-5">
            <h1 class="text-3xl sm:text-5xl font-bold pb-4">How it started.</h1>
            <p class="w-full md:w-[500px] text-lg">
              Four teenage friends spent their afternoons at the local skate park, bonding over skateboarding and music. They all shared a love for rock and punk music and would often play together during breaks from skating. Over time, they realized they had a strong connection and began talking about starting a band.
            </p>
            <br>
            <p class="w-full md:w-[500px] text-lg">
              They decided to name their band Stage Fright, inspired by their shared fear of performing in front of others. Each of them had their own role in the band: Landon played guitar, Spencer was on drums, Connor handled the bass, and David was the lead singer. They started practicing regularly, writing songs about their lives and experiences. What started as a fun hobby quickly became a serious project, and soon they were preparing for their first live show at a local venue.
            </p>
          </div>
        </div>
      </div>
      <div class="min-h-screen mb-20 flex flex-col justify-center items-center">
        <h1 data-aos="fade-up" data-aos-once="true" class="w-[80%] md:w-auto text-3xl sm:text-5xl font-bold mb-4 md:mb-12">What we sound like.</h1>
        <div class="hidden md:flex flex-row">
          <div data-aos="fade-up" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/albums/autumn.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
          <div data-aos="fade-up" data-aos-delay="300" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/albums/ftc.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
          <div data-aos="fade-up" data-aos-delay="600" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/albums/vexed.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
        </div>
        <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true" class="w-[80%] xl:w-[60em] md:mt-12 text-lg">
          Our three albums take you through a range of emotions, each from a different perspective, leaving you shocked and amazed. The Fall of Autumn leans more towards melodic rock, offering a smoother sound compared to our more aggressive work. That’s where Vexed comes in—this album is for those craving intensity and the extreme. If you’re looking for that next level, Vexed will make you want to jump up and down while screaming along. Meanwhile, our most recent album, Failure to Cope, is calmer and more relaxed than the other two. However, this album will still take you on an emotional rollercoaster, challenging your emotions in a way that only music can.
        </div>
    </main>
{% endblock %}