{% extends 'template.html' %}
{% block body %}
  <body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}
{% block header_title %}
{% endblock %}
{% block content %}
    <main class="w-full">
      <div class="h-screen flex flex-col justify-center items-center">
        <div class="flex flex-row mt-2 flex-wrap justify-center text-center">
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-slate-900 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/landon.webp);" alt="Landon Warren, Electric Guitarist"></div>
            <h1 class="text-xl font-bold">Landon Warren</h1>
            <p class="pb-6">Electric Guitarist</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-slate-900 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/spencer.webp);" alt="Spencer Holdeman, Drummer"></div>
            <h1 class="text-xl font-bold">Spencer Holdeman</h1>
            <p class="pb-6">Drummer</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-slate-900 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/connor.webp);" alt="Connor Crossley, Bassist"></div>
            <h1 class="text-xl font-bold">Connor Crossley</h1>
            <p class="pb-6">Bassist</p>
          </div>
          <div class="hover:border-purple-500 border-transparent border-dashed border-[1px] rounded-2xl cursor-pointer">
            <div class="h-96 w-60 m-6 bg-cover bg-center flex flex-col items-center justify-end bg-slate-900 rounded-2xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/member/david.webp);" alt="David Casswell, Vocalist"></div>
            <h1 class="text-xl font-bold">David Casswell</h1>
            <p class="pb-6">Vocalist</p>
          </div>
        </div>
      </div>
      <div class="h-screen flex flox-col justify-center items-center">
        <div class="mx-60">
          <img src="../static/img/member/group2.JPG" data-aos="fade-right" data-aos-once="true" alt="Group photo of the band" class="w-[30em] float-left rounded-2xl">
          <div data-aos="fade-left" data-aos-once="true" class="flex flex-col items-center px-10">
            <h1 class="text-5xl font-bold pb-4">How it started.</h1>
            <p class="text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quo natus dolorum, eum, cum officiis iusto provident adipisci assumenda voluptatem debitis aut esse? In sit dolorum expedita! Quisquam, corporis qui voluptatum aspernatur accusantium, molestiae asperiores quos debitis mollitia, voluptates incidunt!</p>
            <br>
            <p class="text-lg">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita quo natus dolorum, eum, cum officiis iusto provident adipisci assumenda voluptatem debitis aut esse? In sit dolorum expedita! Quisquam, corporis qui voluptatum aspernatur accusantium, molestiae asperiores quos debitis mollitia, voluptates incidunt!</p>
          </div>
        </div>
      </div>
      <div class="h-screen mb-20 flex flex-col justify-center items-center">
        <h1 data-aos="fade-up" data-aos-once="true" class="text-5xl font-bold mb-12">What we sound like.</h1>
        <div class="flex flex-row mx-60">
          <div data-aos="fade-up" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/misc/regret.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
          <div data-aos="fade-up" data-aos-delay="300" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/misc/regret.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
          <div data-aos="fade-up" data-aos-delay="600" data-aos-once="true" class="flex flex-col p-4 mx-5 bg-gray-800 rounded-2xl">
            <img src="../static/img/misc/regret.webp" alt="Album cover for 'Regret'" class="w-56 rounded-2xl">
            <span class="text-center text-xl pt-3">
              <i class="fa-solid fa-backward px-2"></i>
              <i class="fa-solid fa-play px-2"></i>
              <i class="fa-solid fa-repeat px-2"></i>
            </span>
          </div>
        </div>
        <p data-aos="fade-up" data-aos-delay="400" data-aos-once="true" class="mt-12 mx-96 text-lg font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam rerum omnis nostrum facilis dicta unde quo eveniet deleniti ullam aliquam incidunt sit, esse at minima fugit molestiae laborum. Ex assumenda qui nemo dolor rem? Magni qui unde provident dolorem beatae nulla eligendi libero? Obcaecati soluta corporis fuga at. Officia, mollitia.</p>
      </div>
    </main>
{% endblock %}