{% extends 'template.html' %}
{% block title %}
  Contact | Stage Fright
{% endblock %}
{% block body %}
  <body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}
{% block header_title %}{% endblock %}
{% block meta_tags %}
<meta name="description" content="Contact Stage Fright for inquiries, support, and more. Get in touch with us through our contact form." />
<meta name="keywords" content="Stage Fright, contact, support, inquiries, booking, customer service" />
<meta name="author" content="Stage Fright Band" />
<meta property="og:title" content="Contact Stage Fright" />
<meta property="og:description" content="Get in touch with Stage Fright for inquiries, support, and more. Use our contact form to reach us." />
<meta property="og:image" content="../static/img/logo/icon.png" />
<meta property="og:url" content="https://stagefrightbpa.pythonanywhere.com/contact" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Contact Stage Fright" />
<meta name="twitter:description" content="Get in touch with Stage Fright for inquiries, support, and more. Use our contact form to reach us." />
<meta name="twitter:image" content="../static/img/logo/icon.png" />
{% endblock %}
{% block content %}
  <main class="w-full mb-20 flex flex-col items-center">
    <div class="flex flex-col mt-40 mb-20 justify-center items-center">
    <h1 class="text-4xl md:text-7xl text-center font-semibold uppercase">Contact Us</h1>
    <h2 class="text-3xl md:text-5xl text-center font-lacquer">Inquiries & Support</h2>
    </div>
    <div class="w-full flex flex-col justify-center">
    <div class="w-full flex flex-col xl:flex-row justify-center items-center xl:items-start">
      <form method="post" class="w-[90%] lg:w-[80%] xl:w-[40%] p-5 rounded-lg" aria-label="Contact Form">
      <div class="flex flex-row pb-4">
        <div class="w-[50%] mr-2">
        <label for="contact-name" class="block font-semibold mb-2">Name</label>
        <input required name="contact-name" type="text" class="w-full p-2 bg-gray-800 rounded-lg outline-none focus:outline-purple-500" aria-label="Name">
        </div>
        <div class="w-[50%] ml-2">
        <label for="contact-email" class="block font-semibold mb-2">Email</label>
        <input required type="text" name="contact-email" class="w-full p-2 bg-gray-800 rounded-lg" aria-label="Email">
        </div>
      </div>
      <label for="contact-subject" class="block font-semibold mb-2">Subject</label>
      <select name="contact-subject" id="contact-subject" class="w-full p-2 mb-4 bg-gray-800 rounded-lg" required aria-label="Subject">
        <option value="" hidden selected>Select an option</option>
        <option value="Customer Support">Customer Support</option>
        <option value="Booking Inquiries">Booking Inquiry</option>
        <option value="Business Inquiries">Business Inquiry</option>
        <option value="Fan Mail">Fan Mail</option>
        <option value="Other">Other</option>
      </select>
      <label for="contact-message" class="block font-semibold mb-2">Message</label>
      <textarea required name="contact-message" id="contact-message" class="min-h-10 h-40 w-full p-2 mb-4 bg-gray-800 rounded-lg outline-none focus:outline-purple-500" aria-label="Message"></textarea>
      <button type="submit" class="w-full py-2 font-semibold bg-purple-500 hover:bg-purple-700 active:scale-125 transition-all duration-200 rounded-lg" aria-label="Submit Message">Submit Message</button>
      </form>
      <div class="w-[90%] lg:w-[80%] xl:w-[30%]">
      <div class="w-full p-4 bg-gray-800 rounded-lg" aria-label="Contact Information">
        <div class="mb-4">
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-envelope pr-2"></i>General Email</h1>
        <a href="mailto:stagefrightbandokc@gmail.com"><p class="text-xl text-white break-words">stagefrightbandokc@gmail.com</p></a>
        </div>
        <div class="mb-4">
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-envelope pr-2"></i>Booking Email</h1>
        <a href="mailto:booking.stagefrightbandokc@gmail.com"><p class="text-xl text-white break-words">booking.stagefrightbandokc@gmail.com</p></a>
        </div>
        <div class="mb-4">
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-envelope pr-2"></i>Customer Support Email</h1>
        <a href="mailto:support.stagefrightbandokc@gmail.com"><p class="text-xl text-white break-words">support.stagefrightbandokc@gmail.com</p></a>
        </div>
        <div class="mb-4">
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-phone pr-2"></i>Phone Number</h1>
        <p class="text-xl text-white">+1 (405) 123-4567</p>
        </div>
        <div class="mb-4">
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-clock pr-2"></i>Phone Hours</h1>
        <p class="text-xl text-white">9am - 5pm (Mon - Fri)</p>
        </div>
        <div>
        <h1 class="text-purple-500 font-semibold"><i class="fa-solid fa-location-dot pr-2"></i>Location</h1>
        <p class="text-xl text-white">6505 E Hwy 66, El Reno, OK 73036</p>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="w-full flex flex-col justify-center items-center my-40">
    <h2 class="text-3xl sm:text-5xl text-center font-bold">Frequently Asked Questions</h2>
    <div data-aos="fade-up" data-aos-once="true" class="w-[90%] lg:w-[60%] p-4 mt-8 bg-gray-800 rounded-lg" aria-label="FAQ 1">
      <h3 class="text-xl pb-2 text-purple-500 font-semibold">How can I go about booking Stage Fright?</h3>
      <p>You can select the "Booking Inquiry" option as the subject when filling out the contact form. We will contact you again as soon as possible for further information.</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="100" data-aos-once="true" class="w-[90%] lg:w-[60%] p-4 mt-8 bg-gray-800 rounded-lg" aria-label="FAQ 2">
      <h3 class="text-xl pb-2 text-purple-500 font-semibold">Something went wrong with my order, who do I talk to?</h3>
      <p>Please contact us through our phone number or by selecting the "Customer Support" option as the subject in the contact form.</p>
    </div>
    <div data-aos="fade-up" data-aos-delay="200" data-aos-once="true" class="w-[90%] lg:w-[60%] p-4 mt-8 bg-gray-800 rounded-lg" aria-label="FAQ 3">
      <h3 class="text-xl pb-2 text-purple-500 font-semibold">How can I receive updates on upcoming Stage Fright events?</h3>
      <p>You can sign up for our newsletter by scrolling to the bottom of the home page and clicking the sign up button, or by clicking <span class="text-purple-400 hover:text-purple-500"><a href="/signup">this.</a></span></p>
    </div>
    <div data-aos="fade-up" data-aos-delay="200" data-aos-once="true" class="w-[90%] lg:w-[60%] p-4 mt-8 bg-gray-800 rounded-lg" aria-label="FAQ 4">
      <h3 class="text-xl pb-2 text-purple-500 font-semibold">Where can I find the BPA information for this website?</h3>
      <p>The "<span class="text-purple-400 hover:text-purple-500"><a href="/bpa">Attributions</a></span>" link in the footer will take you to the page with our BPA information.</p>
    </div>
    </div>
  </main>
{% endblock %}