{% extends 'template.html' %}
{% block body %}

{% block js_scripts %}
<script defer src="../static/js/navbar.js"></script>
<script defer src="../static/js/cart.js"></script>
<script defer src="../static/js/popup.js"></script>
{% endblock %}

<body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              {{ message | safe }}
          {% endfor %}
      {% endif %}
  {% endwith %}
  {% endblock %}
  {% block content %}
  <header class="h-screen w-full flex flex-1 flex-col justify-between bg-skatepark bg-cover bg-center backdrop-brightness-[75%]">
    <div class="flex flex-col items-center"></div>
    <section class="flex flex-row items-start justify-center gap-2 flex-wrap mb-12">
      <a href="/swag" class="px-3.5 py-2 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-lg shadow-2xl">
        <button class="text-2xl uppercase" style='font-family: "Lacquer";'>Buy the new vinyls</button>
      </a>
      <a href="#anchor-latest-album" class="hidden xl:block px-3.5 py-2 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-lg shadow-2xl">
        <button class="text-2xl uppercase" style='font-family: "Lacquer";'>Listen to the new album</button>
      </a>
      <a href="#anchor-mobile-latest-album" class="block xl:hidden px-3.5 py-2 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-lg shadow-2xl">
        <button class="text-2xl uppercase" style='font-family: "Lacquer";'>Listen to the new album</button>
      </a>
    </section>
  </header>
  <main class="w-full">
    <!-- Tours -->
    <section class="min-h-screen w-full flex flex-col justify-center items-center">
      <h1 class="text-7xl text-center my-7 font-semibold font-lacquer uppercase">Upcoming Tours</h1>
      <table class="w-[100%] md:w-[80%] text-white text-center table-fixed rounded-2xl"
        style="-webkit-mask-image: linear-gradient(black, transparent); mask-image: linear-gradient(black, transparent);">
        <tr class="border-gray-700 border-y-[1px]">
          <td>
            <p class="text-xl font-bold py-6">May 7th, 2025</p>
          </td>
          <td>
            <p class="font-semibold">Oklahoma City, OK</p>
          </td>
          <td>
            <p>Blue Door</p>
          </td>
          <td>
            <p class="font-semibold">$29.99</p>
          </td>
          <td><button id="okc-ticket" onclick="incrementTicketItems(this)" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 px-3 lg:px-10 py-2 md:py-3 rounded-lg"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
        </tr>
        <tr class="border-gray-700 border-y-[1px]">
          <td>
            <p class="text-xl font-bold py-6">May 9th, 2025</p>
          </td>
          <td>
            <p class="font-semibold">Little Rock, AR</p>
          </td>
          <td>
            <p>The Hall</p>
          </td>
          <td>
            <p class="font-semibold">$29.99</p>
          </td>
          <td><button id="little-rock" class="text-sm md:text-base bg-gray-700 px-3 lg:px-10 py-2 md:py-3 rounded-lg">Sold Out</button></td>
        </tr>
        <tr class="border-gray-700 border-y-[1px]">
          <td>
            <p class="text-xl font-bold py-6">May 12th, 2025</p>
          </td>
          <td>
            <p class="font-semibold">Nashville, TN</p>
          </td>
          <td>
            <p>The Bluebird Cafe</p>
          </td>
          <td>
            <p class="font-semibold">$29.99</p>
          </td>
          <td><button id="little-rock" class="text-sm md:text-base bg-gray-700 px-3 lg:px-10 py-2 md:py-3 rounded-lg">Sold Out</button></td>
        </tr>
        <tr class="border-gray-700 border-y-[1px]">
          <td>
            <p class="text-xl font-bold py-6">May 15th, 2025</p>
          </td>
          <td>
            <p class="font-semibold">Asheville, NC</p>
          </td>
          <td>
            <p>The Orange Peel</p>
          </td>
          <td>
            <p class="font-semibold">$29.99</p>
          </td>
          <td><button id="okc-ticket" onclick="incrementTicketItems(this)" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 px-3 lg:px-10 py-2 md:py-3 rounded-lg"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
        </tr>
        <tr class="border-gray-700 border-y-[1px]">
          <td>
            <p class="text-xl font-bold py-6">May 17th, 2025</p>
          </td>
          <td>
            <p class="font-semibold">Alexandria, VA</p>
          </td>
          <td>
            <p>The Birchmere</p>
          </td>
          <td>
            <p class="font-semibold">$29.99</p>
          </td>
          <td><button id="okc-ticket" onclick="incrementTicketItems(this)" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 px-3 lg:px-10 py-2 md:py-3 rounded-lg"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
        </tr>
      </table>
      <a href="/tours">
        <button class="my-5 py-2 px-4 text-lg font-medium border-purple-500 hover:border-purple-700 transition-all duration-200 border-2 rounded-lg">View All Tours</button>
      </a>
    </section>

      <!---------- Merch ---------->
      <!-- Computer (LG+) -->
      <section class="min-h-screen w-full hidden lg:flex flex-col justify-center font-lacquer">
        <div class="marquee font-lacquer">
          <div class="marquee-content marquee-text-scroll">
            <h1 class="text-7xl font-lacquer">NEW SWAG</h1>
            <h1 class="text-7xl font-lacquer">NEW SWAG</h1>
          </div>
          <div class="marquee-content marquee-text-scroll">
            <h1 class="text-7xl font-lacquer">NEW SWAG</h1>
            <h1 class="text-7xl font-lacquer">NEW SWAG</h1>
          </div>
        </div>
        <div class="marquee font-lacquer">
          <div class="marquee-content marquee-item-scroll">
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/autumn.webp);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/vinyl/autumn.webp" alt="">
                <h2 class="my-2 text-lg font-bold">Fall of Autumn Vinyl</h2>
                <h2 class="my-2 text-lg">$19.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/ftc.webp);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/vinyl/ftc.webp" alt="">
                <h2 class="my-2 text-lg font-bold">Failure to Cope Vinyl</h2>
                <h2 class="my-2 text-lg">$19.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/vexed.webp);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/vinyl/vexed.webp" alt="">
                <h2 class="my-2 text-lg font-bold">Vexed Vinyl</h2>
                <h2 class="my-2 text-lg">$19.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/hat/hat-fr.png);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/hat/hat-fr.png" alt="">
                <h2 class="my-2 text-lg font-bold">Skull Cap</h2>
                <h2 class="my-2 text-lg">$9.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
          </div>
          <div class="marquee-content marquee-item-scroll">
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/hoodie/hoodie-f.png);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/hoodie/hoodie-f.png" alt="">
                <h2 class="my-2 text-lg font-bold">Stage Fright Hoodie</h2>
                <h2 class="my-2 text-lg">$24.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/jacket/jacket-f.png);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/jacket/jacket-f.png" alt="">
                <h2 class="my-2 text-lg font-bold">Jacket</h2>
                <h2 class="my-2 text-lg">$29.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/socks/socks.webp);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/socks/socks.webp" alt="">
                <h2 class="my-2 text-lg font-bold">Socks</h2>
                <h2 class="my-2 text-lg">$12.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                  Add to Cart    
              </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/bottle/cup-f.png);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/bottle/cup-f.png" alt="">
                <h2 class="my-2 text-lg font-bold">Skull Water Bottle</h2>
                <h2 class="my-2 text-lg">$14.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                Add to Cart
              </button>
            </div>
          </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/headphone/17a041b1-0518-4505-b48c-f45d67fe83e1.png);">
                <img class="hidden w[0%] h[0%]" src="../static/img/swag/headphone/17a041b1-0518-4505-b48c-f45d67fe83e1.png" alt="">
                <h2 class="my-2 text-lg font-bold">Airpod Case</h2>
                <h2 class="my-2 text-lg">$6.99</h2>
              </div>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 rounded-xl">
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Mobile (-LG) -->
      <section class="w-full mb-40 p-5 sm:p-20 xl:hidden flex flex-col justify-center items-center">
        <h1 class="text-4xl md:text-7xl text-center my-7 font-semibold font-lacquer uppercase">New Vinyls</h1>
        <div class="w-full flex flex-row justify-center sm:justify-between items-center flex-wrap">
          <img src="../static/img/swag/vinyl/autumn.webp" alt="" class="w-[45%] m-2 sm:m-0 sm:w-[30%] bg-gray-800 rounded-xl">
          <img src="../static/img/swag/vinyl/ftc.webp" alt="" class="w-[45%] m-2 sm:m-0 sm:w-[30%] bg-gray-800 rounded-xl">
          <img src="../static/img/swag/vinyl/vexed.webp" alt="" class="w-[45%] m-2 sm:m-0 sm:w-[30%] bg-gray-800 rounded-xl">
        </div>
        <a href="/swag"><button class="my-5 py-2 px-4 text-lg font-medium border-purple-500 hover:border-purple-700 transition-all duration-200 border-2 rounded-lg">Check Out</button></a>
    </section>

      <!---------- Latest Album ---------->
      <!-- Computer (XL+) -->
      <section id="anchor-latest-album" class="h-screen w-full hidden xl:flex flex-row bg-gray-700 font-lacquer" style="clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);">
        <div class="h-full w-[50%] my-12 flex justify-center items-center">
          <table class="w-[65%] font-marker text-[2em] tracking-widest">
            <tr>
              <td colspan="2">
                <p class="text-[1.5em] font-bold">Failure to Cope</p>
              </td>
            </tr>
            <tr>
              <td><p>1.</p></td>
              <td><p>Light of Shadows</p></td>
            </tr>
            <tr>
              <td><p>2.</p></td>
              <td><p>Defying Days</p></td>
            </tr>
            <tr>
              <td><p>3.</p></td>
              <td><p>Lumino</p></td>
            </tr>
            <tr>
              <td><p>4.</p></td>
              <td><p>Fool's Paradise</p></td>
            </tr>
            <tr>
              <td><p>5.</p></td>
              <td><p>Fictitious Freedom</p></td>
            </tr>
            <tr>
              <td><p>6.</p></td>
              <td><p>Calliope</p></td>
            </tr>
            <tr>
              <td><p>7.</p></td>
              <td><p>Optical Orion</p></td>
            </tr>
            <tr>
              <td><p>8.</p></td>
              <td><p>Wired Hive</p></td>
            </tr>
            <tr>
              <td><p>9.</p></td>
              <td><p>Conclusive Creation</p></td>
            </tr>
          </table>
        </div>
        <div class="h-full w-[50%] xl:flex justify-center items-center">
          <div class="mb-24">
            <img id="spinning-vinyl" src="../static/img/misc/ftc.png" alt="Spinning vinyl record" class="motion-reduce:hidden block vinyl-spin">
            <img id="spinning-vinyl" src="../static/img/misc/ftc.png" alt="Spinning vinyl record" class="hidden motion-reduce:block">
          </div>
        </div>
      </section>

      <!-- Mobile (-XL) -->
      <section id="anchor-mobile-latest-album" class="w-full p-20 xl:hidden flex flex-col md:flex-row justify-center items-center bg-gray-800">
        <img src="../static/img/albums/ftc.webp" class="w-64 mx-8 mb-8 md:mb-0 rounded-lg" alt="">
        <div class="space-y-4 text-center md:text-left">
          <h1 class="text-4xl font-lacquer">Failure to Cope</h1>
          <p>Our latest released album. "Failure to Cope" contains 9 tracks that are bound to catch your attention.</p>
          <button class="bg-purple-500 hover:bg-purple-700 transition-all duration-200 px-5 md:px-10 py-2 md:py-3 rounded-lg">Listen Now</button>
        </div>
      </div>
      </div>
    </section>

      <!---------- Newseltter ---------->
      <section class="min-h-[30vh] w-full flex flex-col justify-center items-center">
        <h1 class="hidden lg:block text-4xl text-center font-lacquer font-semibold">Want the latest Stage Fright news and updates?</h1>
        <h1 class="lg:hidden block text-4xl text-center font-lacquer font-semibold">Join our Newsletter!</h1>
        <a href="/signup"><button class="hidden lg:block my-5 py-2 px-4 text-2xl font-medium border-purple-500 hover:border-purple-700 transition-all duration-200 border-2 rounded-lg">Join The Newsletter</button></a>
        <a href="/signup"><button class="lg:hidden block my-5 py-2 px-4 text-lg font-medium border-purple-500 hover:border-purple-700 transition-all duration-200 border-2 rounded-lg">Sign Up</button></a>
      </section>
    </main>
{% endblock %}