{% extends 'template.html' %}
{% block html %}
<html lang="en">
{% endblock %}
{% block title %}
    New Merch Out Now!
{% endblock %}
{% block js_scripts %}
    <script defer src="../static/js/cart.js"></script>
    <script defer src="../static/js/navbar.js"></script>
{% endblock %}


{% block body %}
<body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1.5s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}

{% block content %}
    <main class="w-full flex flex-col">
        <div class="flex flex-col mt-40 justify-center items-center">
            <h1 class="text-7xl font-semibold uppercase">The Shop</h1>
            <h2 class="text-4xl font-lacquer mb-20">Brand New Items</h2>
        </div>
        <div class="w-full flex flex-col items-center bg-purple-950">
            <h2 class="w-[60%] py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center bg-dark-raw rounded-xl">New Vinyls</h1>
            <div class="w-full flex flex-row flex-wrap justify-evenly">        
                <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                    <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
                    <h2 class="my-2 text-lg font-bold">vinyl 2</h2>
                    <h2 class="my-2 text-lg">$19.99</h2>
                    <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
                <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                    <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
                    <h2 class="my-2 text-lg font-bold">vinyl 2</h2>
                    <h2 class="my-2 text-lg">$24.99</h2>
                    <button id="vinyl 2" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
                <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                    <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
                    <h2 class="my-2 text-lg font-bold">vinyl 3</h2>
                    <h2 class="my-2 text-lg">$29.99</h2>
                    <button id="vinyl 3" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full flex flex-col items-center">
            <h2 class="py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center">Clothing</h1>
            <div class="w-full flex flex-row flex-wrap justify-evenly">        
                <div class="min-h-96 w-80 my-14 p-4">
                    <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/hat/hat-fr.png" alt="">
                    <h1 class="my-2 text-lg font-bold">Skull Cap</h2>
                    <h1 class="my-2 text-lg">$9.99</h2>
                    <button id="Skull Cap" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
                <div class="min-h-96 w-80 my-14 p-4">
                    <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/hoodie/hoodie-f.png" alt="">
                    <h1 class="my-2 text-lg font-bold">Hoodie</h2>
                    <h1 class="my-2 text-lg">$24.99</h2>
                    <button id="Hoodie" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
                <div class="min-h-96 w-80 my-14 p-4">
                    <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/jacket/jacket-f.png" alt="">
                    <h1 class="my-2 text-lg font-bold">Jacket</h2>
                    <h1 class="my-2 text-lg">$29.99</h2>
                    <button id="Jacket" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
                <div class="min-h-96 w-80 my-14 p-4">
                    <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/socks/socks.webp" alt="">
                    <h1 class="my-2 text-lg font-bold">Socks</h2>
                    <h1 class="my-2 text-lg">$12.99</h2>
                    <button id="Jacket" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                        Add to Cart    
                    </button>
                </div>
            </div>
            <div class="w-full flex flex-col items-center">
                <h2 class="py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center">Accessories</h1>
                <div class="w-full flex flex-row flex-wrap justify-evenly">        
                    <div class="min-h-96 w-80 my-14 p-4">
                        <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/bottle/cup-f.png" alt="">
                        <h2 class="my-2 text-lg font-bold">Skull Water Bottle</h2>
                        <h2 class="my-2 text-lg">$14.99</h2>
                        <button id="Skull Bottle" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                            Add to Cart    
                        </button>
                    </div>
                    <div class="min-h-96 w-80 my-14 p-4">
                        <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/headphone/17a041b1-0518-4505-b48c-f45d67fe83e1.png" alt="">
                        <h2 class="my-2 text-lg font-bold">Airpod Case</h2>
                        <h2 class="my-2 text-lg">$199.99</h2>
                        <button id="Test Item" onclick="incrementCartItems(this)" class="py-2 w-full bg-purple-600 rounded-xl">
                            Add to Cart    
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}