{% extends 'template.html' %}
{% block html %}
<html lang="en">
{% endblock %}
{% block title %}
    Swag Shop | Stage Fright
{% endblock %}
{% block js_scripts %}
<script defer src="../static/js/cart.js"></script>
<script defer src="../static/js/navbar.js"></script>
<script defer src="../static/js/gradient.js"></script>
{% endblock %}

{% block meta_tags %}
<meta name="description" content="Stage Fright - Explore our exclusive merchandise. Get your favorite band gear now!" />
<meta name="keywords" content="Stage Fright, band, music, merchandise, merch, shop, store" />
<meta name="author" content="Stage Fright Band" />
<meta property="og:title" content="Stage Fright Merch" />
<meta property="og:description" content="Explore Stage Fright's exclusive merchandise. Get your favorite band gear now!" />
<meta property="og:image" content="../static/img/logo/icon.png" />
<meta property="og:url" content="https://stagefrightbpa.pythonanywhere.com/swag" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Stage Fright Merch" />
<meta name="twitter:description" content="Explore Stage Fright's exclusive merchandise. Get your favorite band gear now!" />
<meta name="twitter:image" content="../static/img/logo/icon.png" />
{% endblock %}

{% block body %}
<body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1.5s] bg-fixed bg-center bg-cover text-white bg-[#4a3271]">
{% endblock %}

{% block content %}
<canvas id="gradient-canvas" class="canvas-swag fixed h-screen max-h-screen"></canvas>
<main class="w-full flex flex-col">
    <div class="flex flex-col pt-40 justify-center items-center" style="background-image: -webkit-gradient(linear, left top, left bottom, from(#121117), to(rgba(0, 0, 0, 0)));">
        <h1 class="text-4xl md:text-7xl text-center font-semibold uppercase">The Shop</h1>
        <h2 class="text-3xl md:text-5xl text-center font-lacquer mb-20">Brand New Items</h2>
    </div>
    <div class="w-full flex flex-col justify-center items-center">
        <div class="flex flex-row flex-wrap space-x-4 justify-center items-center">
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/autumn.webp);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/vinyl/autumn.webp" alt="Fall of Autumn Vinyl">
                  <h2 class="mt-2 text-lg font-bold">Fall of Autumn Vinyl</h2>
                  <h2 class="mb-2 text-lg">$19.99</h2>
                </div>
                <button id="Fall-of-Autumn" onclick="incrementCartItems(this)" data-merch_price="$19.99" data-merch_item="Fall of Autumn Vinyl" data-img_src="../static/img/swag/vinyl/autumn.webp" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                  Add to Cart    
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/ftc.webp);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/vinyl/ftc.webp" alt="Failure to Cope Vinyl">
                  <h2 class="mt-2 text-lg font-bold">Failure to Cope Vinyl</h2>
                  <h2 class="mb-2 text-lg">$19.99</h2>
                </div>
                <button id="Failure-to-Cope" onclick="incrementCartItems(this)" data-merch_price="$19.99" data-merch_item="Failure to Cope Vinyl" data-img_src="../static/img/swag/vinyl/ftc.webp" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/vinyl/vexed.webp);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/vinyl/vexed.webp" alt="Vexed Vinyl">
                  <h2 class="mt-2 text-lg font-bold">Vexed Vinyl</h2>
                  <h2 class="mb-2 text-lg">$19.99</h2>
                </div>
                <button id="Vexed" onclick="incrementCartItems(this)" data-merch_price="$19.99" data-merch_item="Vexed Vinyl" data-img_src="../static/img/swag/vinyl/vexed.webp" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
        </div>
        
        <div class="flex flex-row flex-wrap space-x-4 justify-center items-center">
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/hat/hat-fr.png);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/hat/hat-fr.png" alt="Skull Cap Front Side">
                  <h2 class="mt-2 text-lg font-bold">Skull Cap</h2>
                  <h2 class="mb-2 text-lg">$9.99</h2>
                </div>
                <button id="Skull Cap" onclick="incrementCartItems(this)" data-merch_price="$9.99" data-merch_item="Skull Cap" data-img_src="../static/img/swag/hat/hat-fr.png" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/hoodie/hoodie-f.png);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/hoodie/hoodie-f.png" alt="Stage Fright Hoodie Front Side">
                  <h2 class="mt-2 text-lg font-bold">Stage Fright Hoodie</h2>
                  <h2 class="mb-2 text-lg">$29.99</h2>
                </div>
                <button id="Hoodie" onclick="incrementCartItems(this)" data-merch_price="$29.99" data-merch_item="Stage Fright Hoodie" data-img_src="../static/img/swag/hoodie/hoodie-f.png" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/jacket/jacket-f.png);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/jacket/jacket-f.png" alt="Stage Fright Jacket Front Side">
                  <h2 class="mt-2 text-lg font-bold">Stage Fright Jacket</h2>
                  <h2 class="mb-2 text-lg">$24.99</h2>
                </div>
                <button id="Jacket" onclick="incrementCartItems(this)" data-merch_price="$24.99" data-merch_item="Stage Fright Jacket" data-img_src="../static/img/swag/jacket/jacket-f.png" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
        </div>

        <div class="flex flex-row flex-wrap space-x-4 justify-center items-center">
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/socks/socks.webp);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/socks/socks.webp" alt="Black Socks">
                  <h2 class="mt-2 text-lg font-bold">Socks</h2>
                  <h2 class="mb-2 text-lg">$12.99</h2>
                </div>
                <button id="Socks" onclick="incrementCartItems(this)" data-merch_price="$12.99" data-merch_item="Black Socks" data-img_src="../static/img/swag/socks/socks.webp" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart    
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/bottle/cup-f.png);">
                  <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/bottle/cup-f.png" alt="Skull Water Bottle">
                  <h2 class="mt-2 text-lg font-bold">Skull Water Bottle</h2>
                  <h2 class="mb-2 text-lg">$14.99</h2>
                </div>
                <button id="Skull Bottle" onclick="incrementCartItems(this)" data-merch_price="$14.99" data-merch_item="Skull Water Bottle" data-img_src="../static/img/swag/bottle/cup-f.png" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                  Add to Cart
                </button>
            </div>
            <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
                <div class="h-80 w-80 px-4 mb-4 flex flex-col justify-end bg-white bg-cover bg-center rounded-xl" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), transparent 90%), url(../static/img/swag/headphone/case-f.png);">
                    <img class="hidden w-[0%] h-[0%]" src="../static/img/swag/headphone/case-f.png" alt="Airpod Case Front Side">
                    <h2 class="mt-2 text-lg font-bold">Airpod Case</h2>
                    <h2 class="mb-2 text-lg">$6.99</h2>
                </div>
                <button id="Airpod-Case" onclick="incrementCartItems(this)" data-merch_price="$6.99" data-merch_item="Airpod Case" data-img_src="../static/img/swag/headphone/case-f.png" class="py-2 w-80 bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 rounded-xl">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</main>
<div class="h-12" style="background-image: -webkit-gradient(linear, left bottom, left top, from(#121117), to(rgba(0, 0, 0, 0)));">

</div>
{% endblock %}