<!DOCTYPE html>
{% block html %}
<html lang="en" class="scroll">
{% endblock %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Permanent+Marker&family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lacquer&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../static/img/logo/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <title>{% block title %} Stage Fright {% endblock %}</title>

  {% block js_scripts %}
  <script defer src="../static/js/home.js"></script>
  <script defer src="../static/js/cart.js"></script>
  <script defer src="../static/js/gradient.js"></script>
  {% endblock %}

  <script src="https://kit.fontawesome.com/26eaa8b1dc.js" crossorigin="anonymous"></script>
</head>

{% block body %}
<body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-black">
{% endblock %}
{% block nav %}
<!-- <div id="mobile-menu" class="md:hidden h-screen w-full fixed top-0 bg-black z-[60]">
      <i class="absolute top-7 right-7 fa-solid fa-xmark text-purple-600 cursor-pointer text-5xl"></i>
      <div class="relative text-center text-3xl font-semibold">
        <a href="/home">
          <p class="px-3 my-6 rounded-full hover:underline">Home</p>
        </a>
        <a href="/tours">
          <p class="px-3 my-6 rounded-full hover:underline">Tours</p>
        </a>
        <a href="/about">
          <p class="px-3 my-6 rounded-full hover:underline">About</p>
        </a>
        <a href="/home">
          <p class="px-3 my-6 rounded-full hover:underline">Contact Us</p>
        </a>
        <a href="/swag">
          <p class="px-3 py-1 my-6 rounded-full hover:underline bg-purple-500 hover:bg-purple-600">Merch</p>
        </a>
      </div>
    </div> -->
  <div onclick="closeShoppingBag()" id="cart-blur" class="hidden h-screen w-full fixed top-0 left-0 bg-transparent backdrop-brightness-50 backdrop-blur-[4px] transition-all duration-[0.5s] z-50"></div>
  <div id="shopping-bag" class="h-screen w-[400px] fixed hidden flex flex-col justify-between top-0 right-0 bg-dark-raw z-50">
    <div id="total-price" class="p-6">
      <div class="flex flex-row justify-between items-center">
        <div class="h-[50px] w-[50px] flex flex-row justify-center items-center text-2xl text-purple-600 border-purple-700 border-2 rounded-full cursor-pointer" onclick="closeShoppingBag()">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <h1 class="text-3xl font-lacquer">Your Cart</h1>
        <img src="../static/img/logo/icon.png" alt="" class="h-[50px]">
      </div>
      <div class="h-[2px] w-full mt-4 bg-purple-800"></div>
    </div>
    <div id="cart-items" class="h-full overflow-y-scroll minimal-scrollbar px-4 mx-3">
      <p id="cart-message">You currently have no items in your cart!</p>
    </div>
    <div class="p-6">
      <div class="h-[2px] w-full mb-4 bg-purple-800"></div>
      <button class="h-12 w-full my-2 text-xl font-lacquer text-white bg-purple-900 rounded-md" onclick="removeCartItems()">
        Clear Items
      </button>
      <a href="/checkout">
        <button class="h-12 w-full my-2 text-xl font-lacquer text-white bg-purple-700 rounded-md">
          Checkout
        </button>
      </a>
    </div>
  </div>
  <!-- <canvas id="gradient-canvas" class="canvas-main absolute h-screen max-h-screen z-10"></canvas> -->
  <nav id="navbar" class="w-full flex flex-row items-center justify-between fixed top-0 px-5 py-5 font-semibold z-40">
    <div class="xl:w-[30%] flex flow-row">
      <a href="/home"><img class="h-12" src="../static/img/logo/icon.png" alt="" draggable="false"></a>
      <a href="/home"><img class="h-12 ml-5 hidden lg:block" src="../static/img/logo/text2.png" alt="" draggable="false"></a>
    </div>
    <div class="hidden md:flex space-x-5 text-lg px-2 py-2 bg-dark-raw/60 backdrop-blur-md rounded-full">
      <a href="/home">
        <p class="px-3 py-1 rounded-full hover:underline">Home</p>
      </a>
      <a href="/tours">
        <p class="px-3 py-1 rounded-full hover:underline">Tours</p>
      </a>
      <a href="/about">
        <p class="px-3 py-1 rounded-full hover:underline">About</p>
      </a>
      <a href="/contact">
        <p class="px-3 py-1 rounded-full hover:underline">Contact Us</p>
      </a>
      <a href="/swag" class="block lg:hidden ">
        <p class="px-3 py-1 rounded-full hover:underline bg-purple-500 hover:bg-purple-600">Merch</p>
      </a>
    </div>
    <div class="xl:w-[30%] flex flex-row justify-end items-center space-x-5 text-base rounded-full">
      <a onclick="openShoppingBag()" class="flex flex-row space-x-3 px-4 py-2 hover:brightness-75 bg-dark-raw/60 backdrop-blur-md rounded-full cursor-pointer">
        <i class="fa-solid fa-bag-shopping text-2xl"></i>
        <p class="text-lg">Cart (<span id="nums-value">0</span>)</p>
      </a>
      <a onclick="openShoppingBag()" class="md:hidden flex flex-row space-x-3 px-4 py-2 hover:brightness-75 bg-dark-raw/60 backdrop-blur-md rounded-full cursor-pointer">
        <i class="fa-solid fa-bars text-2xl"></i>
      </a>
      <a href="/swag" class="hidden lg:block px-2 rounded-full bg-purple-500 hover:bg-purple-600 transition-all duration-100">
        <p class="px-3 py-1.5 text-lg">Buy Merch</p>
      </a>
    </div>
  </nav>
  {% endblock %}

  <!-- Main Content -->
  {% block content %}
  {% endblock %}

  <!-- Footer -->
  <footer>
    <section class="w-full px-10 py-[2%] font-serif">
      <div class="lg:flex flex-row justify-between">
        <div class="flex flex-row justify-center items-center"><img class="h-16" src="../static/img/logo/text2.png" alt=""></div>
        <div class="flex flex-row justify-center items-center text-gray-400">
          <a href="/home">
            <p class="px-3 py-3 sm:py-0 hover:text-gray-500">Home</p>
          </a>
          <a href="/tours" class="hidden sm:block">
            <p class="px-3 py-3 sm:py-0 hover:text-gray-500">Tours</p>
          </a>
          <a href="/about" class="hidden sm:block">
            <p class="px-3 py-3 sm:py-0 hover:text-gray-500">About</p>
          </a>
          <a href="/contact" class="hidden sm:block">
            <p class="px-3 py-3 sm:py-0 hover:text-gray-500">Contact</p>
          </a>
          <a href="/swag" class="hidden sm:block">
            <p class="px-3 py-3 sm:py-0 hover:text-gray-500">Merch</p>
          </a>
          <div class="flex flex-row">
            <a href="/home"><i class="fa-brands fa-instagram text-lg hover:text-gray-500 mx-[0.5em]"></i></a>
            <a href="/home"><i class="fa-brands fa-x-twitter text-lg hover:text-gray-500 mx-[0.5em]"></i></a>
            <a href="/home"><i class="fa-brands fa-youtube text-lg hover:text-gray-500 mx-[0.5em]"></i></a>
            <a href="/home"><i class="fa-brands fa-spotify text-lg hover:text-gray-500 mx-[0.5em]"></i></a>
            <a href="https://github.com/SoftwareNotion/bpa-webdesignteam" target="_blank"><i class="fa-brands fa-github hover:text-gray-500 mx-[0.5em]"></i></a>
          </div>
        </div>
      </div>
      <div class="h-[1px] w-full my-4 bg-gray-600"></div>
      <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center">
        <p class="mb-3 lg:pb-0 text-sm sm:text-base">©2024 - Stage Fright. All Rights Reserved.</p>
        <p class="text-sm sm:text-base">BPA Competition | Canadian Valley Technolofy Center, El Reno, OK 73036</a></p>
      </div>
    </section>
  </footer>
  <!-- hidden cart -->
  <div class=" hidden flex flex-col w-[0%] h-[0%]">
    <div class="w-full flex flex-col items-center bg-purple-950">
      <h2 class="w-[60%] py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center bg-dark-raw rounded-xl">New Vinyls</h1>
      <div class="w-full flex flex-row justify-evenly">        
          <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
              <h2 class="my-2 text-lg font-bold">vinyl 2</h2>
              <h2 class="my-2 text-lg">$19.99</h2>
              <button id="vinyl 1" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
          <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
              <h2 class="my-2 text-lg font-bold">vinyl 2</h2>
              <h2 class="my-2 text-lg">$24.99</h2>
              <button id="vinyl 2" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
          <div class="min-h-96 min-w-80 my-14 p-4 bg-dark-raw rounded-xl">
              <img class="h-80 w-80 mb-4 bg-white rounded-xl" src="../static/img/swag/vinyl/vinyl.webp" alt="">
              <h2 class="my-2 text-lg font-bold">vinyl 3</h2>
              <h2 class="my-2 text-lg">$29.99</h2>
              <button id="vinyl 3" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
      </div>
  </div>
  <div class="w-full flex flex-col items-center">
      <h2 class="py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center">Clothing</h1>
      <div class="w-full flex flex-row justify-evenly">        
          <div class="min-h-96 w-80 my-14 p-4">
              <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/hat/hat-fr.png" alt="">
              <h1 class="my-2 text-lg font-bold">Skull Cap</h2>
              <h1 class="my-2 text-lg">$9.99</h2>
              <button id="Skull Cap" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
          <div class="min-h-96 w-80 my-14 p-4">
              <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/hoodie/hoodie-f.png" alt="">
              <h1 class="my-2 text-lg font-bold">Hoodie</h2>
              <h1 class="my-2 text-lg">$24.99</h2>
              <button id="Hoodie" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
          <div class="min-h-96 w-80 my-14 p-4">
              <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/jacket/jacket-f.png" alt="">
              <h1 class="my-2 text-lg font-bold">Jacket</h2>
              <h1 class="my-2 text-lg">$29.99</h2>
              <button id="Jacket" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
          <div class="min-h-96 w-80 my-14 p-4">
              <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/socks/socks.webp" alt="">
              <h1 class="my-2 text-lg font-bold">Socks</h2>
              <h1 class="my-2 text-lg">$12.99</h2>
              <button id="Jacket" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                  Add to Cart    
              </button>
          </div>
      </div>
      <div class="w-full flex flex-col items-center">
          <h2 class="py-5 mt-14 font-lacquer font-semibold uppercase text-4xl text-center">Accessories</h1>
          <div class="w-full flex flex-row justify-evenly">        
              <div class="min-h-96 w-80 my-14 p-4">
                  <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/bottle/cup-f.png" alt="">
                  <h2 class="my-2 text-lg font-bold">Skull Water Bottle</h2>
                  <h2 class="my-2 text-lg">$14.99</h2>
                  <button id="Skull Bottle" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                      Add to Cart    
                  </button>
              </div>
              <div class="min-h-96 w-80 my-14 p-4">
                  <img class="h-80 w-80 my-4 bg-white rounded-xl" src="../static/img/swag/headphone/17a041b1-0518-4505-b48c-f45d67fe83e1.png" alt="">
                  <h2 class="my-2 text-lg font-bold">Airpod Case</h2>
                  <h2 class="my-2 text-lg">$199.99</h2>
                  <button id="Test Item" onclick="incrementCartItems(this)" class="py-2 w-80 bg-purple-600 rounded-xl">
                      Add to Cart    
                  </button>
              </div>
          </div>
      </div>
  </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script> AOS.init({ duration: 1200 }); </script>
</body>
</html>