{% extends 'template.html' %}
{% block title %}
  Tours | Stage Fright
{% endblock %}
{% block body %}
<body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}

{% block meta_tags %}
<meta name="description" content="Stage Fright - Check out our latest tour dates and locations. Don't miss our live performances!" />
<meta name="keywords" content="Stage Fright, band, music, tours, concerts, live performances" />
<meta name="author" content="Stage Fright Band" />
<meta property="og:title" content="Stage Fright Tours" />
<meta property="og:description" content="Check out Stage Fright's latest tour dates and locations. Don't miss our live performances!" />
<meta property="og:image" content="../static/img/logo/icon.png" />
<meta property="og:url" content="https://stagefrightbpa.pythonanywhere.com/tours" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Stage Fright Tours" />
<meta name="twitter:description" content="Check out Stage Fright's latest tour dates and locations. Don't miss our live performances!" />
<meta name="twitter:image" content="../static/img/logo/icon.png" />
{% endblock %}
{% block header_title %}
{% endblock %}

  {% block content %}
  <main class="w-full flex flex-col">
  <div class="flex flex-col my-40 justify-center items-center">
    <h1 class="text-4xl md:text-7xl text-center font-semibold uppercase">Stage Fright</h1>
    <h2 class="text-3xl md:text-5xl text-center font-lacquer mb-20">Tour Dates & Locations</h2>
    <table class="w-[100%] md:w-[80%] text-white text-center table-fixed rounded-2xl" aria-label="Tour Dates and Locations">
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 7th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Oklahoma City, OK</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Blue Door</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="okc-ticket" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 7th 2025" data-city="Oklahoma City, OK" data-venue="blue-door" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Oklahoma City ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 9th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Little Rock, AR</p>
      </td>
      <td>
      <p class="text-sm md:text-base">The Hall</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="little-rock" class="text-sm md:text-base bg-gray-700 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Little Rock tickets sold out">Sold Out</button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 12th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Nashville, TN</p>
      </td>
      <td>
      <p class="text-sm md:text-base">The Bluebird Cafe</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="little-rock" class="text-sm md:text-base bg-gray-700 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Nashville tickets sold out">Sold Out</button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 15th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Asheville, NC</p>
      </td>
      <td>
      <p class="text-sm md:text-base">The Orange Peel</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="asheville" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 15th 2025" data-city="Asheville, NC" data-venue="The Orange Peel" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Asheville ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 17th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Alexandria, VA</p>
      </td>
      <td>
      <p class="text-sm md:text-base">The Birchmere</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="alexandria" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 17th 2025" data-city="Alexandria, VA" data-venue="The Birchmere" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Alexandria ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>        
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 19th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Philadelphia, PA</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Franklin Music Hall</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="philadelpia" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 19th 2025" data-city="Philadelphia, PA" data-venue="Franklin Music Hall" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Philadelphia ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 22nd, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Manhattan, NY</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Radio City Music Hall</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="manhattan" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 22nd 2025" data-city="Manhattan, NY" data-venue="Radio City Music Hall" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Manhattan ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 25th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Clarkston, MI</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Pine Knob Music Theatre</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="clarkston" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 25th 2025" data-city="Clarkston, MI" data-venue="Pine Knob Music Theatre" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Clarkston ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">May 28th, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Denver, CO</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Ogden Theatre</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="denver" onclick="incrementTicketItems(this)" data-merch_price="$29.99" data-date="May 28th 2025" data-city="Denver, CO" data-venue="Ogden Theatre" class="text-sm md:text-base bg-purple-500 hover:bg-purple-700 transition-all duration-200 active:scale-125 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Add Denver ticket to cart"><div class="block md:hidden "><i class="fa-solid fa-cart-plus"></i></div><p class="hidden md:block">Add to Cart</p></button></td>
    </tr>
    <tr class="border-gray-700 border-y-[1px]">
      <td>
      <p class="text-sm md:text-xl font-bold py-6">June 1st, 2025</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">Hollywood, CA</p>
      </td>
      <td>
      <p class="text-sm md:text-base">Hotel California</p>
      </td>
      <td>
      <p class="text-sm md:text-base font-semibold">$29.99</p>
      </td>
      <td><button id="little-rock" class="text-sm md:text-base bg-gray-700 px-3 lg:px-10 py-2 md:py-3 rounded-lg" aria-label="Hollywood tickets sold out">Sold Out</button></td>
    </tr>
    </table>
  </div>
  </main>
  {% endblock %}