{% extends 'template.html' %}
{% block body %}
  <body class="scroll-smooth relative overflow-x-hidden transition-all duration-[1s] bg-fixed bg-center bg-cover text-white bg-dark-raw">
{% endblock %}
{% block header_title %}
{% endblock %}
{% block content %}
    <main class="w-full flex flex-col">
      <div class="flex flex-col my-40 justify-center items-center">
        <h1 class="text-7xl font-semibold uppercase">Stage Fright</h1>
        <h2 class="text-4xl font-lacquer mb-20">Tour Dates & Locations</h2>
        <table class="w-[80%] text-white text-center table-fixed rounded-2xl">
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
          <tr class="border-gray-700 border-y-[1px]">
            <td><p class="text-xl font-bold py-6">Month 1th, 2024</p></td>
            <td><p class="font-semibold">City, State</p></td>
            <td><p>Address</p></td>
            <td><button class="bg-purple-700 px-10 py-3 rounded-lg">Tickets</button></td>
          </tr>
        </table>
      </div>
    </main>
{% endblock %}